.idea/
__pycache__/
.pytest_cache/
venv/
.vs/
*.pyproj
*.sln
TestResults/
env/
lib/config.ini
*.log
__init__.py
~$*
orders_dump.txt
routes_list.json
routes_examples/
tests/allure-results
tests-mobile/allure-results
/allure-results
*.json